/* Brand colours: Red: #C61331 | Background: #EFEFEF | Text: #292727 */

body {
  background-color: #EFEFEF;
  font-family: Arial, Helvetica, sans-serif; /* Font set there to globally impact all font on page, I understand that Arial will be used, if not present on the user's device it will then use Helvetica then sans-serif, for simplicity and compatibility I have not installed a font pack */
}

/* Fonts */
h1 {
  color: #292727; /* Used an off black colour for easier readability */
  margin-left: 20px;
}

h2 {
  color: #292727;
  margin-left: 20px;
  font-size: 1.1em;
}

p1 {
  color: #292727;
}

/* Homepage flex items */
.flexContainer {
  display: flex;
  flex-direction: column; /* Set to column so I can order sections one beneath each other */
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: row; /* This could be removed as row is default, however left as is to show layout intention */
  background: #EFEFEF; /* Colour picked from original site for consistent branding */
  justify-content: space-between; /* Conveniently this fits to each edge of the page, so is good for different screen sizes */
  flex-wrap: wrap; /* Default is no wrap, many items crush together so this allows item wrap to next line */
  gap: 1em; /* Puts gaps around boxes */
}

.headerItem {
  display: flex;
  padding: 10px;
  margin: 10px;
  /* align-self: is used for specific items */
}

.contactDetailsItem {
  display: flex;
  flex-direction: column; /* Change main axis direction to vertical, to place phone number then opening times below */
  align-items: center;
}

.navigationMenu {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em; /* Using em is vital, as it is a ratio of the system's default font, therefore users with custom settings will have proportionally sized font rather than fixed pixels */
  font-weight: lighter;
  gap: 1.2em;
}

.item {
  display: flex;
  padding: 20px;
  background: lightcoral;
}

/* Homepage page items */
.mainContentColumns {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex: 1; /* Combination of flex commands to determine the ratio/number of parts available in that section vs other elements */
  flex-direction: column; /* Items one beneath the other */
  background-color: blanchedalmond;
  padding: 10px;
  gap: 1.5em;
}

.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: blanchedalmond;
  padding: 120px;
  gap: 1.5em;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

/* For mobile responsive design, change layout when viewport is <100px wide */
@media (max-width: 1000px) {
  .mainContentColumns {
    flex-direction: column;
  }
  .navigationMenu {
    flex-direction: column;
    justify-content: center;
  }
}

/* Parts Shop Items */
.searchBoxRow {
  display: flex;
  align-items: center; /* Vertically center the content */
  padding: 20px;
}

.searchBox {
  flex-grow: 1; /* Make the search box fill left side up to search button */
  background-color: whitesmoke;
  border: 1px groove #292727;
  padding: 10px;
}

.searchButton {
  background-color: #C61331;
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em;
}

.saleItems {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1.5em;
}

.saleItem {
  border: lightgrey;
  padding: 1em;
  border-style: groove;
}

.saleItemAddToBasketBtn {
  display: flex;
  background-color: #C61331;
  padding: 1em;
  border-radius: 1em;
}

/* Machinery For Sale Items */
.thumbnailRow {
  display: flex;
  justify-content: space-around;
}

.filterButton {
  display: flex;
  background-color: #C61331;
  justify-content: space-around;
}

.saleItemDescription {
  padding: 0.5em;
}

/* Events page */
.eventBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  margin: 2em;
  padding: 1em;
}

.eventTitle {
  flex: 2; /* Take 2/5ths of the space */
  text-align: left;
}

.eventDate {
  flex: 1;
  text-align: center;
}

.eventAddToCalendar {
  flex: 2;
  text-align: right;
}

.eventLocationMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: lightgrey;
  border-style: double;
}
